input {
  font-size: 0.9em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: transparent;
  text-align: left;
  border: none;
  outline: none;
  padding: 0;
  margin-top: 0.2em;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 10em #fff inset;
  -webkit-box-shadow: 0 0 0 10em #fff inset;
}
input::-ms-clear {
  display: none;
}
input[type="number" i] {
  padding: 0em !important;
  margin: 0px;
  webkit-appearance: none !important;
  margin: 0;
  -moz-appearance: textfield !important;
}
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input:focus {
  border: none;
}
.inputContainer {
  border: 0.1em solid #ddd;
  border-radius: 0.3em;
  border-style: ridge;
  padding: 0.6em 0.6em 0.6em 0.75em;
  width: 100%;
  background: white;
}
label {
  margin-bottom: 0.1em;
}
